/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*------
*
*
*  styles.css - notInstagram
*  Version 1.0
*
*  Matias Salas
*  3-1-2015
*
*-------*/


/*---main box styles---*/
body {
	text-align: center;
}

input {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #dcdcdc;
}

.masthead {
	text-align: center;
	background: url("../img/header.jpg") center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 25rem;

}

.masthead img {
	margin-top: 4rem;
	border-radius:15px;

}

.container {
	width: 334px;
	margin: 0 auto;
}

.clearFix {
	height: 1px;
	clear: both;
}

footer {
	margin-top: 2em;
	font-size: 1.5em;
	color: #dcdcdc;
}

footer li {
	margin: 0 auto;
	padding: .5em 0;
	width: 334px;
	border-top: 1px solid #dcdcdc;
}


/*---ui styles---*/
.buttons {
	background-color: rgba( 255, 255, 255, 0);
	border: 2px solid #fff;
	font-size: 1.5em;
	border-radius: 10px;
	color: #fff;
	margin: .2em 2rem 3em 0;
	padding: .2em;
	float: right;

}

.buttons:hover {
	cursor: pointer;
}

.errorMsg {
	margin-top: 1em;
	font-size: 1em;
}

.querry {
	margin: .2em auto;
	padding: .2em;
	width: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	border-radius: 10px;

}

.querryResult {
	font-size: 1.5em;
	color: #fff;
}


.resultImages {
	margin: .2em;

}
em {
	color: orangered;
	text-shadow: 1px 1px 4px #000;
}

/*---animation styles---*/

.photos {
	overflow: hidden;
	opacity: 1;
	-webkit-transition: all linear 1.0s;
	-moz-transition: all linear 1.0s;
	-o-transition: all linear 1.0s;
	transition: all linear 1.0s;
}

.photos.ng-hide {
	opacity: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak],[x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}



@media screen and (min-width: 470px) {


}




